{
  "swagger": "2.0",
  "info": { "version": "v1", "title": "CPQ Web API help" },
  "host": "devstable.webcomcpq.com",
  "schemes": ["https"],
  "paths": {
    "/api/v1/admin/Admin/GenerateSecretKey": {
      "get": {
        "tags": ["Admin"],
        "summary": "Generates the secret key suitable for SHA-256.",
        "operationId": "Admin_GenerateSecretKey",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "string" } }
        }
      }
    },
    "/api/v1/admin/Admin/GetFileResponseMessage": {
      "get": {
        "tags": ["Admin"],
        "summary": "Gets the file response message.",
        "operationId": "Admin_GetFileResponseMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "query",
            "description": "Name of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content._buffer",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "content._origin",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._position",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._capacity",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._expandable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._writable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._exposable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._isOpen",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content.__identity",
            "in": "query",
            "required": false,
            "type": "object"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/api/rd/v1/ApprovalHistory/GetApprovalHistoryModelInit": {
      "get": {
        "tags": ["ApprovalHistory"],
        "summary": "Gets the initial approval history model.",
        "operationId": "ApprovalHistory_GetApprovalHistoryModelInit",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "rc",
            "in": "query",
            "description": "The crypted cart id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ro",
            "in": "query",
            "description": "The crypted owner id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.ApprovalHistory.ApprovalHistoryResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/ApprovalHistory/GetApprovalHistoryModel": {
      "get": {
        "tags": ["ApprovalHistory"],
        "summary": "Gets the approval history model.",
        "operationId": "ApprovalHistory_GetApprovalHistoryModel",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "filter.currentPage",
            "in": "query",
            "description": "Gets or sets the current page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.itemsPerPage",
            "in": "query",
            "description": "Gets or sets the items per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter.sortMethod",
            "in": "query",
            "description": "Gets or sets the sort method.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.orderByColumn",
            "in": "query",
            "description": "Gets or sets the order by column.",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter.search",
            "in": "query",
            "description": "Gets or sets the search.",
            "required": false,
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.ApprovalHistory.ApprovalHistoryResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/ApprovalHistory/GetFileResponseMessage": {
      "get": {
        "tags": ["ApprovalHistory"],
        "summary": "Gets the file response message.",
        "operationId": "ApprovalHistory_GetFileResponseMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "query",
            "description": "Name of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content._buffer",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "content._origin",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._position",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._capacity",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._expandable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._writable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._exposable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._isOpen",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content.__identity",
            "in": "query",
            "required": false,
            "type": "object"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/api/rd/v1/Approvals/GetApprovalModel": {
      "get": {
        "tags": ["Approvals"],
        "summary": "Gets the approval model.",
        "operationId": "Approvals_GetApprovalModel",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Approvals.ApprovalResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Approvals/GetOneClickApprovalResponse": {
      "get": {
        "tags": ["Approvals"],
        "summary": "Gets the one click approval response.",
        "operationId": "Approvals_GetOneClickApprovalResponse",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ownerId",
            "in": "query",
            "description": "The owner identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cartId",
            "in": "query",
            "description": "The cart identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "actionId",
            "in": "query",
            "description": "The action identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Approvals.ApprovalsLandingResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Approvals/ExecuteAction": {
      "post": {
        "tags": ["Approvals"],
        "summary": "Executes the action.",
        "operationId": "Approvals_ExecuteAction",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "The data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Approvals.ExecuteActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Approvals.ApprovalResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Approvals/RetractApprovalProcess": {
      "post": {
        "tags": ["Approvals"],
        "summary": "Retract approval process action.",
        "operationId": "Approvals_RetractApprovalProcess",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "comment",
            "in": "query",
            "description": "Retract explanation comment.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Approvals.ApprovalResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Approvals/RetractExpiredApprovalRules": {
      "post": {
        "tags": ["Approvals"],
        "summary": "Retract expired approval rules - rules which are rejected and not violated anymore.",
        "operationId": "Approvals_RetractExpiredApprovalRules",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Approvals.ApprovalResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Approvals/GetFileResponseMessage": {
      "get": {
        "tags": ["Approvals"],
        "summary": "Gets the file response message.",
        "operationId": "Approvals_GetFileResponseMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "query",
            "description": "Name of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content._buffer",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "content._origin",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._position",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._capacity",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._expandable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._writable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._exposable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._isOpen",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content.__identity",
            "in": "query",
            "required": false,
            "type": "object"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/api/v1/admin/AssetDefinition/GetInitData": {
      "get": {
        "tags": ["AssetDefinition"],
        "summary": "Gets the initialize data.",
        "operationId": "AssetDefinition_GetInitData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.Admin.Assets.AssetDefinitionResponse"
            }
          }
        }
      }
    },
    "/api/v1/admin/AssetDefinition/SaveAssetDefinition": {
      "post": {
        "tags": ["AssetDefinition"],
        "summary": "Saves the asset definition.",
        "operationId": "AssetDefinition_SaveAssetDefinition",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fields",
            "in": "body",
            "description": "The fields.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webcom.Configurator.Core.AssetFieldDefinition"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.Admin.Assets.AssetDefinitionResponse"
            }
          }
        }
      }
    },
    "/api/v1/admin/AssetDefinition/GenerateSecretKey": {
      "get": {
        "tags": ["AssetDefinition"],
        "summary": "Generates the secret key suitable for SHA-256.",
        "operationId": "AssetDefinition_GenerateSecretKey",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "string" } }
        }
      }
    },
    "/api/v1/admin/AssetDefinition/GetFileResponseMessage": {
      "get": {
        "tags": ["AssetDefinition"],
        "summary": "Gets the file response message.",
        "operationId": "AssetDefinition_GetFileResponseMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "query",
            "description": "Name of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content._buffer",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "content._origin",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._position",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._capacity",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._expandable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._writable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._exposable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._isOpen",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content.__identity",
            "in": "query",
            "required": false,
            "type": "object"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/api/rd/v1/Assets/GetInitData": {
      "get": {
        "tags": ["Assets"],
        "summary": "Gets the initialize data.",
        "operationId": "Assets_GetInitData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Assets.AssetsResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Assets/GetData": {
      "post": {
        "tags": ["Assets"],
        "summary": "Gets the data.",
        "operationId": "Assets_GetData",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "The request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Assets.AssetsListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Assets.AssetsResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Assets/SaveFilter": {
      "post": {
        "tags": ["Assets"],
        "summary": "Saves the filter.",
        "operationId": "Assets_SaveFilter",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "The request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Assets.AssetsListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Webcom.API.StatusVm" }
          }
        }
      }
    },
    "/api/rd/v1/Assets/RenewAssets": {
      "post": {
        "tags": ["Assets"],
        "summary": "Renews the assets.",
        "operationId": "Assets_RenewAssets",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": ["application/json", "text/json"],
        "parameters": [
          {
            "name": "selectedAssets",
            "in": "body",
            "description": "The selected assets.",
            "required": true,
            "schema": {
              "type": "array",
              "items": { "format": "int32", "type": "integer" }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Webcom.API.RedirectResponse" }
          }
        }
      }
    },
    "/api/rd/v1/Assets/GetFileResponseMessage": {
      "get": {
        "tags": ["Assets"],
        "summary": "Gets the file response message.",
        "operationId": "Assets_GetFileResponseMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "query",
            "description": "Name of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content._buffer",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "content._origin",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._position",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._capacity",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._expandable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._writable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._exposable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._isOpen",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content.__identity",
            "in": "query",
            "required": false,
            "type": "object"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/setup/api/v1/admin/attributes/{standardAttributeCode}/values/maxRank": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Gets max attribute values rank for attribute with provided code",
        "operationId": "Attribute_GetMaxAttributeValueRank",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "standardAttributeCode",
            "in": "path",
            "description": "Standard attribute code",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "format": "int32", "type": "integer" }
          }
        }
      }
    },
    "/setup/api/v1/admin/attributes/{standardAttributeCode}/containerAttributeValues": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Gets container attribute values for attribute with provided standard attribute code",
        "operationId": "Attribute_GetContainerAttributeValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "standardAttributeCode",
            "in": "path",
            "description": "Standard attribute code",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.Attributes.VM.ContainerAttributeValueRowVM]"
            }
          }
        }
      }
    },
    "/setup/api/v1/admin/attributes/types": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Get attribute lookups for products",
        "operationId": "Attribute_GetAttributeProductLookup",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM[System.String]"
              }
            }
          }
        }
      }
    },
    "/setup/api/v1/admin/attributes/SystemId": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Gets system id",
        "operationId": "Attribute_GetSystemId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "string" } }
        }
      }
    },
    "/setup/api/v1/admin/attributes": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Gets attributes",
        "operationId": "Attribute_GetAttributes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.Attributes.VM.AttributeRowVM]"
            }
          }
        }
      },
      "post": {
        "tags": ["Attribute"],
        "summary": "Saves attribute",
        "operationId": "Attribute_Save",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "attributeVM",
            "in": "body",
            "description": "Attribute VM",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.API.SetupSPA.Attributes.VM.AttributeVM"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "format": "int32", "type": "integer" }
          }
        }
      }
    },
    "/setup/api/v1/admin/attributes/value/systemId/{name}": {
      "get": {
        "tags": ["Attribute"],
        "operationId": "Attribute_GetValueSystemId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          { "name": "name", "in": "path", "required": true, "type": "string" }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "string" } }
        }
      }
    },
    "/setup/api/v1/admin/attributes/{id}": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Gets attribute",
        "operationId": "Attribute_GetAttribute",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Attribute id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.SetupSPA.Attributes.VM.AttributeVM"
            }
          }
        }
      },
      "delete": {
        "tags": ["Attribute"],
        "summary": "Deletes Attribute",
        "operationId": "Attribute_DeleteAttribute",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/setup/api/v1/admin/attributes/measurements": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Get all measurements",
        "operationId": "Attribute_GetAllMeasurements",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM[System.String]"
              }
            }
          }
        }
      }
    },
    "/setup/api/v1/admin/attributes/container/totalTypes": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Gets total types lookup",
        "operationId": "Attribute_GetContainerTotalTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM"
              }
            }
          }
        }
      }
    },
    "/setup/api/v1/admin/attributes/container/dataTypes": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Gets data types lookup",
        "operationId": "Attribute_GetContainerDataTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM"
              }
            }
          }
        }
      }
    },
    "/setup/api/v1/admin/attributes/container/column/displayTypes": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Gets display types lookup for container column",
        "operationId": "Attribute_GetContainerDisplayTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "isProductPartNumber",
            "in": "query",
            "description": "Is container column product part number",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM"
              }
            }
          }
        }
      }
    },
    "/setup/api/v1/admin/attributes/container/columnTypes": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Gets column types for container",
        "operationId": "Attribute_GetContainerColumnTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "isProductContainer",
            "in": "query",
            "description": "Is product container",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webcom.API.SetupSPA.Common.LookupVM"
              }
            }
          }
        }
      }
    },
    "/setup/api/v1/admin/attributes/autocomplete/customtable/{id}": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Gets the custom table columns.",
        "operationId": "Attribute_GetCustomTableColumns",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webcom.API.SetupSPA.Attributes.VM.CustomTableColumnVM"
              }
            }
          }
        }
      }
    },
    "/setup/api/v1/admin/attributes/autocomplete/customtable/{id}/name": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Gets the name of the custom table.",
        "operationId": "Attribute_GetCustomTableName",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "string" } }
        }
      }
    },
    "/setup/api/v1/admin/attributes/autocomplete/quotecustomtable/{id}": {
      "get": {
        "tags": ["Attribute"],
        "summary": "Gets the quote table columns",
        "operationId": "Attribute_GetQuoteCustomTableColumns",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webcom.API.SetupSPA.Attributes.VM.CustomTableColumnVM"
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/files/AttributeImage": {
      "get": {
        "tags": ["AttributeImage"],
        "operationId": "AttributeImage_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        }
      },
      "put": {
        "tags": ["AttributeImage"],
        "summary": "Updates files",
        "operationId": "AttributeImage_Put",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      },
      "post": {
        "tags": ["AttributeImage"],
        "summary": "Creates new files",
        "operationId": "AttributeImage_Post",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/api/v1/admin/files/AttributeImage/{id}": {
      "get": {
        "tags": ["AttributeImage"],
        "summary": "Gets specified file",
        "operationId": "AttributeImage_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "File name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      },
      "put": {
        "tags": ["AttributeImage"],
        "summary": "Updates specified file",
        "operationId": "AttributeImage_Put",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Name of the file to update",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      },
      "delete": {
        "tags": ["AttributeImage"],
        "summary": "Deletes specified file",
        "operationId": "AttributeImage_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "File name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/setup/api/v1/admin/files/AttributeImage": {
      "get": {
        "tags": ["AttributeImage"],
        "operationId": "AttributeImage_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        }
      },
      "put": {
        "tags": ["AttributeImage"],
        "summary": "Updates files",
        "operationId": "AttributeImage_Put",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      },
      "post": {
        "tags": ["AttributeImage"],
        "summary": "Creates new files",
        "operationId": "AttributeImage_Post",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/setup/api/v1/admin/files/AttributeImage/{id}": {
      "get": {
        "tags": ["AttributeImage"],
        "summary": "Gets specified file",
        "operationId": "AttributeImage_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "File name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      },
      "put": {
        "tags": ["AttributeImage"],
        "summary": "Updates specified file",
        "operationId": "AttributeImage_Put",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Name of the file to update",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      },
      "delete": {
        "tags": ["AttributeImage"],
        "summary": "Deletes specified file",
        "operationId": "AttributeImage_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "File name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/api/v1/admin/AttributeTranslationImportExport/GetInitData": {
      "get": {
        "tags": ["AttributeTranslationImportExport"],
        "summary": "Gets the initialize data.",
        "operationId": "AttributeTranslationImportExport_GetInitData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.Admin.AttributeTranslationImportExport.AttributeTranslationImportExportResponse"
            }
          }
        }
      }
    },
    "/api/v1/admin/AttributeTranslationImportExport/GetFileResponseMessage": {
      "get": {
        "tags": ["AttributeTranslationImportExport"],
        "summary": "Gets the file response message.",
        "operationId": "AttributeTranslationImportExport_GetFileResponseMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "query",
            "description": "Name of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content._buffer",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "content._origin",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._position",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._capacity",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._expandable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._writable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._exposable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._isOpen",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content.__identity",
            "in": "query",
            "required": false,
            "type": "object"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/setup/api/v1/admin/auditTrail/userAction": {
      "get": {
        "tags": ["AuditTrail"],
        "summary": "Gets the user action audit trail records.",
        "operationId": "AuditTrail_GetUserAction",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.AuditTrail.VM.UserActionVM]"
            }
          }
        }
      }
    },
    "/setup/api/v1/admin/auditTrail/adminAction": {
      "get": {
        "tags": ["AuditTrail"],
        "summary": "Gets the admin action audit trail records",
        "operationId": "AuditTrail_GetAdminAction",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.AuditTrail.VM.AdminAuditTrailVM]"
            }
          }
        }
      }
    },
    "/setup/api/v1/admin/auditTrail/productAction": {
      "get": {
        "tags": ["AuditTrail"],
        "summary": "Gets the product action audit trail records.",
        "operationId": "AuditTrail_GetProductAction",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.AuditTrail.VM.ProductActionVM]"
            }
          }
        }
      }
    },
    "/setup/api/v1/admin/auditTrail/pricebookAction": {
      "get": {
        "tags": ["AuditTrail"],
        "summary": "Gets pricebook audit trail",
        "operationId": "AuditTrail_GetPricebookAction",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.AuditTrail.VM.PricebookActionVM]"
            }
          }
        }
      }
    },
    "/setup/api/v1/admin/auditTrail/customTableAction": {
      "get": {
        "tags": ["AuditTrail"],
        "summary": "Gets the custom table action audit trail records.",
        "operationId": "AuditTrail_GetCustomTableAction",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.AuditTrail.VM.CustomTableActionVM]"
            }
          }
        }
      }
    },
    "/setup/api/v1/admin/auditTrail/attributeAction": {
      "get": {
        "tags": ["AuditTrail"],
        "summary": "Gets the product action audit trail records.",
        "operationId": "AuditTrail_GetAttributeAction",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.Common.Models.PagedDataVM[Webcom.API.SetupSPA.AuditTrail.VM.AttributeActionVM]"
            }
          }
        }
      }
    },
    "/api/scim/v1/Auth": {
      "post": {
        "tags": ["Auth"],
        "summary": "Authenticates application against it's credentials",
        "operationId": "Auth_Authenticate",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "credentials",
            "in": "body",
            "description": "Connected application credentials",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.Common.Provisioning.Entities.ApplicationCredentials"
            }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/api/scim/v1/Bulk": {
      "post": {
        "tags": ["Bulk"],
        "summary": "Creates user depend on the data provided on the POST body request",
        "operationId": "Bulk_Process",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bulk",
            "in": "body",
            "description": "Bulk to be processed",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.Common.Provisioning.Entities.Bulk"
            }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/api/v1/admin/BulkImportExport/ExportUsers": {
      "post": {
        "tags": ["BulkImportExport"],
        "summary": "Exports the users.",
        "operationId": "BulkImportExport_ExportUsers",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "The request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.API.Admin.BulkImportExport.UserExportRequest"
            }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "string" } }
        }
      }
    },
    "/api/v1/admin/BulkImportExport/GetUserExportInitData": {
      "get": {
        "tags": ["BulkImportExport"],
        "summary": "Gets the user export initialize data.",
        "operationId": "BulkImportExport_GetUserExportInitData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.Admin.BulkImportExport.UserExportResponse"
            }
          }
        }
      }
    },
    "/api/v1/admin/BulkImportExport/GetData": {
      "post": {
        "tags": ["BulkImportExport"],
        "summary": "Gets the data.",
        "operationId": "BulkImportExport_GetData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "currentPage",
            "in": "query",
            "description": "The current page number.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "itemsPerPage",
            "in": "query",
            "description": "The number of items per page",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.Admin.BulkImportExport.BulkImportExportResponse"
            }
          }
        }
      }
    },
    "/api/v1/admin/BulkImportExport/CancelJob": {
      "post": {
        "tags": ["BulkImportExport"],
        "summary": "Cancels the job.",
        "operationId": "BulkImportExport_CancelJob",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "description": "The id of job that should be canceled.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/api/v1/admin/BulkImportExport/ChangeRequestEmail": {
      "post": {
        "tags": ["BulkImportExport"],
        "summary": "Changes the request email.",
        "operationId": "BulkImportExport_ChangeRequestEmail",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "description": "The job identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestEmail",
            "in": "query",
            "description": "if set to true [request email].",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": { "204": { "description": "No Content" } }
      }
    },
    "/api/v1/admin/BulkImportExport/ExportProducts": {
      "post": {
        "tags": ["BulkImportExport"],
        "summary": "Exports the products.",
        "operationId": "BulkImportExport_ExportProducts",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "The ProductExportRequest request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.API.Admin.BulkImportExport.ProductExportRequest"
            }
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "string" } }
        }
      }
    },
    "/api/v1/admin/BulkImportExport/GetCategories": {
      "get": {
        "tags": ["BulkImportExport"],
        "summary": "Gets the categories for filter.",
        "operationId": "BulkImportExport_GetCategories",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webcom.API.Admin.BulkImportExport.VM.CategoryVM"
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/BulkImportExport/GetPermissions": {
      "get": {
        "tags": ["BulkImportExport"],
        "summary": "Gets the CPQ permissions from filter.",
        "operationId": "BulkImportExport_GetPermissions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Webcom.API.Admin.BulkImportExport.VM.PermissionVm"
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/BulkImportExport/GetFileResponseMessage": {
      "get": {
        "tags": ["BulkImportExport"],
        "summary": "Gets the file response message.",
        "operationId": "BulkImportExport_GetFileResponseMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "query",
            "description": "Name of the file.",
            "required": true,
            "type": "string"
          },
          {
            "name": "content._buffer",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "content._origin",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._position",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._length",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._capacity",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "content._expandable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._writable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._exposable",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content._isOpen",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "content.__identity",
            "in": "query",
            "required": false,
            "type": "object"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/api/rd/v1/Cart/GetCustomFields": {
      "get": {
        "tags": ["Cart"],
        "summary": "Gets the custom fields.",
        "operationId": "Cart_GetCustomFields",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "tabId",
            "in": "query",
            "description": "The tab identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CustomFieldsResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/SaveCustomFields": {
      "post": {
        "tags": ["Cart"],
        "summary": "Saves the custom fields.",
        "operationId": "Cart_SaveCustomFields",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "dirtyCustomFields",
            "in": "body",
            "description": "The dirty custom fields.",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": { "type": "string" }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CustomFieldsResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/GetInitData": {
      "get": {
        "tags": ["Cart"],
        "summary": "Gets the initialize data.",
        "operationId": "Cart_GetInitData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "description": "The mode.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "enum": [0, 1, 2]
          },
          {
            "name": "ownerId",
            "in": "query",
            "description": "The owner identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "cartId",
            "in": "query",
            "description": "The cart identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "avc",
            "in": "query",
            "description": "The avc.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/GetItems": {
      "get": {
        "tags": ["Cart"],
        "summary": "Gets the items.",
        "operationId": "Cart_GetItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request.pageNumber",
            "in": "query",
            "description": "Gets or sets the page number.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request.pageSize",
            "in": "query",
            "description": "Gets or sets the page size.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request.filterQuery",
            "in": "query",
            "description": "Gets or sets the list of query criteria.",
            "required": false,
            "type": "array",
            "items": { "type": "array", "items": { "type": "string" } },
            "collectionFormat": "multi"
          },
          {
            "name": "request.cartItem",
            "in": "query",
            "description": "The cart item that should be loaded in data page.\r\nIf supplied pageNumber is ignored.\r\nSystem will also expand some items if required so that requested item is visible\r\n///",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartItemsResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/GetItemsPost": {
      "post": {
        "tags": ["Cart"],
        "summary": "Gets the items.",
        "operationId": "Cart_GetItemsPost",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "The request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartItemsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartItemsResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/GetOrderSummaryData": {
      "get": {
        "tags": ["Cart"],
        "summary": "Gets the order summary data.",
        "operationId": "Cart_GetOrderSummaryData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/Calculate": {
      "post": {
        "tags": ["Cart"],
        "summary": "Calculates the specified cart update parameters.",
        "operationId": "Cart_Calculate",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "cartUpdateParams",
            "in": "body",
            "description": "The cart update parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/CancelItemEdit": {
      "post": {
        "tags": ["Cart"],
        "summary": "Cancels the item edit.",
        "operationId": "Cart_CancelItemEdit",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Webcom.API.StatusVm" }
          }
        }
      }
    },
    "/api/rd/v1/Cart/ChangeItemType": {
      "post": {
        "tags": ["Cart"],
        "summary": "Changes the type of the item.",
        "operationId": "Cart_ChangeItemType",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "cartItem",
            "in": "query",
            "description": "The cart item.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "newItemType",
            "in": "query",
            "description": "New type of the item.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "enum": [0, 1, 2, 3]
          },
          {
            "name": "newBaseItem",
            "in": "query",
            "description": "The new base item.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/ChangeItemsType": {
      "post": {
        "tags": ["Cart"],
        "summary": "Changes the type of the items.",
        "operationId": "Cart_ChangeItemsType",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "description": "The model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.ItemsTypeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/ChangeMarket": {
      "post": {
        "tags": ["Cart"],
        "summary": "Changes the market.",
        "operationId": "Cart_ChangeMarket",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "newMarketId",
            "in": "query",
            "description": "The new market identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/ChangePricebook": {
      "post": {
        "tags": ["Cart"],
        "summary": "Changes the pricebook.",
        "operationId": "Cart_ChangePricebook",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "newPricebookId",
            "in": "query",
            "description": "The new pricebook identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/ChangeEffectiveDate": {
      "post": {
        "tags": ["Cart"],
        "summary": "Changes the effective date.",
        "operationId": "Cart_ChangeEffectiveDate",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "newEffectiveDate",
            "in": "query",
            "description": "The new effective date.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/ChangeShipping": {
      "post": {
        "tags": ["Cart"],
        "summary": "Changes the shipping.",
        "operationId": "Cart_ChangeShipping",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "newShippingId",
            "in": "query",
            "description": "The new shipping identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/ChangeStatus": {
      "post": {
        "tags": ["Cart"],
        "summary": "Changes the status.",
        "operationId": "Cart_ChangeStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "newStatusId",
            "in": "query",
            "description": "The new status identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/CrateNewAdditionalDiscount": {
      "post": {
        "tags": ["Cart"],
        "summary": "Crates the new additional discount.",
        "operationId": "Cart_CrateNewAdditionalDiscount",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "cartUpdateParams",
            "in": "body",
            "description": "The cart update parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/DeleteAdditionalDiscount": {
      "post": {
        "tags": ["Cart"],
        "summary": "Deletes the additional discount.",
        "operationId": "Cart_DeleteAdditionalDiscount",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "discountId",
            "in": "query",
            "description": "The discount identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cartUpdateParams",
            "in": "body",
            "description": "The cart update parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/ExecuteAction": {
      "post": {
        "tags": ["Cart"],
        "summary": "Executes the action.",
        "operationId": "Cart_ExecuteAction",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "actionId",
            "in": "query",
            "description": "The action identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cartUpdateParams",
            "in": "body",
            "description": "The cart update parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/ExecuteItemAction": {
      "post": {
        "tags": ["Cart"],
        "summary": "Executes the item action.",
        "operationId": "Cart_ExecuteItemAction",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "actionId",
            "in": "query",
            "description": "The action identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cartItem",
            "in": "query",
            "description": "The cart item number.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "itemId",
            "in": "query",
            "description": "The quote item id.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/api/rd/v1/Cart/ExecuteUpgradeItemAction": {
      "post": {
        "tags": ["Cart"],
        "summary": "Executes the upgrade item action.",
        "operationId": "Cart_ExecuteUpgradeItemAction",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "cartItem",
            "in": "query",
            "description": "The cart item.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "itemId",
            "in": "query",
            "description": "The item identifier.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/ExecuteItemActionById": {
      "post": {
        "tags": ["Cart"],
        "summary": "Executes the item action by cart item id.",
        "operationId": "Cart_ExecuteItemActionById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "actionId",
            "in": "query",
            "description": "The action identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cartItemId",
            "in": "query",
            "description": "The cart item id.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/api/rd/v1/Cart/GetProductsForUpgrade": {
      "get": {
        "tags": ["Cart"],
        "summary": "Gets the products for upgrade.",
        "operationId": "Cart_GetProductsForUpgrade",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/api/rd/v1/Cart/GetCartItemProductUpgradeConfirmationMessage": {
      "get": {
        "tags": ["Cart"],
        "summary": "Gets the cart item product upgrade confirmation message.",
        "operationId": "Cart_GetCartItemProductUpgradeConfirmationMessage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "cartItem",
            "in": "query",
            "description": "The cart item.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "string" } }
        }
      }
    },
    "/api/rd/v1/Cart/GetCartProductsUpgradeConfirmationMessage": {
      "get": {
        "tags": ["Cart"],
        "summary": "Gets the cart products upgrade confirmation message.",
        "operationId": "Cart_GetCartProductsUpgradeConfirmationMessage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "string" } }
        }
      }
    },
    "/api/rd/v1/Cart/MoveItemDown": {
      "post": {
        "tags": ["Cart"],
        "summary": "Moves the item down.",
        "operationId": "Cart_MoveItemDown",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "cartItem",
            "in": "query",
            "description": "The cart item.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/MoveItemUp": {
      "post": {
        "tags": ["Cart"],
        "summary": "Moves the item up.",
        "operationId": "Cart_MoveItemUp",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "cartItem",
            "in": "query",
            "description": "The cart item.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/MoveToPosition": {
      "post": {
        "tags": ["Cart"],
        "summary": "Moves item to below upperCartItem.",
        "operationId": "Cart_MoveToPosition",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "cartItem",
            "in": "query",
            "description": "The cart item unique identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "upperCartItem",
            "in": "query",
            "description": "The upper cart item.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/Redo": {
      "post": {
        "tags": ["Cart"],
        "summary": "Redoes this instance.",
        "operationId": "Cart_Redo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/SetActiveEditableGroup": {
      "post": {
        "tags": ["Cart"],
        "summary": "Sets the active editable group.",
        "operationId": "Cart_SetActiveEditableGroup",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "editableGroup",
            "in": "query",
            "description": "The editable group.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/Undo": {
      "post": {
        "tags": ["Cart"],
        "summary": "Undoes this instance.",
        "operationId": "Cart_Undo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/UpgradeAndEditProduct": {
      "post": {
        "tags": ["Cart"],
        "summary": "Upgrades the and edit product.",
        "operationId": "Cart_UpgradeAndEditProduct",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "cartItem",
            "in": "query",
            "description": "The quote item number.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "itemId",
            "in": "query",
            "description": "The quote item id.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "type": "object" } }
        }
      }
    },
    "/api/rd/v1/Cart/UpgradeProductsAndExecuteAction": {
      "post": {
        "tags": ["Cart"],
        "summary": "Upgrades the products and execute action.",
        "operationId": "Cart_UpgradeProductsAndExecuteAction",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "actionId",
            "in": "query",
            "description": "The action identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cartUpdateParams",
            "in": "body",
            "description": "The cart update parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/AddToQuote": {
      "post": {
        "tags": ["Cart"],
        "summary": "Adds to quote.",
        "operationId": "Cart_AddToQuote",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "query",
            "description": "The product identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "The quantity.",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/AddToQuoteWithSection": {
      "post": {
        "tags": ["Cart"],
        "summary": "Adds to quote.",
        "operationId": "Cart_AddToQuoteWithSection",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "query",
            "description": "The product identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "The quantity.",
            "required": true,
            "type": "number",
            "format": "double"
          },
          {
            "name": "section",
            "in": "query",
            "description": "The section.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/AddFavoriteToQuote": {
      "post": {
        "tags": ["Cart"],
        "summary": "Adds the favorite to quote.",
        "operationId": "Cart_AddFavoriteToQuote",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "favoriteId",
            "in": "query",
            "description": "The favorite identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "The quantity.",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/ChangeApprovalProbability": {
      "post": {
        "tags": ["Cart"],
        "summary": "Changes the approval probability.",
        "operationId": "Cart_ChangeApprovalProbability",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "sliderId",
            "in": "query",
            "description": "The slider identifier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "value",
            "in": "query",
            "description": "The value.",
            "required": true,
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/DeleteItems": {
      "post": {
        "tags": ["Cart"],
        "summary": "Deletes the items.",
        "operationId": "Cart_DeleteItems",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "cartItems",
            "in": "body",
            "description": "The cart items.",
            "required": true,
            "schema": {
              "type": "array",
              "items": { "format": "int32", "type": "integer" }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webcom.API.RD.Cart.CartResponse"
            }
          }
        }
      }
    },
    "/api/rd/v1/Cart/ReorderItems": {
      "post": {
        "tags": ["Cart"],
        "summary": "Reorders the items.",
        "operationId": "Cart_ReorderItems",
        "consumes": [
[...]
