body {
    font-family: '72', sans-serif;
    max-width: 650px;
    margin: auto;
    color: #444;
    margin: 40px auto;
    line-height: 1.6;
}

ul {
    list-style-type: none
}

ul ul {
    list-style-type: disc
}

table {
    border: solid 1px;
    border-color: gray
}

table td {
    border: solid 1px;
    border-color: gray
}

img {
    width: 700px;

}

h1,
h2,
h3 {
    line-height: 1.2
}

h3 {
    font-size: 16px;
}

body,
p,
td {
    font-size: 14px;
}
